html, body
	background-color: #222222
	height: 100%
	font-family: 'Montserrat', sans-serif

footer
	background-color: #5a9aa7
	padding: 10%

#home
	margin-top: 10%
	img
		width: 100%
	p
		color: #9b9b9b
		padding: 5% 2%
		text-align: center
	.window
		margin-bottom: -45px

.nav-dark
	background-color: #19654A
	border: none
	.container
		width: 90%
		.navbar-header
			width: 10%
	.navbar-brand
		color: white