{% extends "layout.html" %}
{% load static from staticfiles %}
{% block page %}home{% endblock %}
{% block content %}
<section id="home" class="main-content">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<img src="{% static "img/home/desktop.svg" %}">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<p>My name is Tito. I design & develop frontend web interfaces 
using HTML5, CSS3 and Javascript.</p>
		</div>
	</div>
	<div class="row window">
		<div class="col-sm-2 col-sm-offset-3">
			<img src="{% static "img/home/windowRed.svg" %}">
		</div>
		<div class="col-sm-2">
			<img src="{% static "img/home/windowBlue.svg" %}">
		</div>
		<div class="col-sm-2">
			<img src="{% static "img/home/windowGreen.svg" %}">
		</div>
	</div>
</section>
{% endblock %}