{% extends "layout.html" %}
{% load static from staticfiles %}
{% block page %}home{% endblock %}
{% block content %}
<section id="home" class="main-content">
	<div class="row">
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="enter bottom but wait 3s"> Foo tito </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="enter bottom but wait 3s"> Foo tito </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="enter bottom but wait 3s"> Foo tito </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="enter bottom but wait 3s"> Foo tito </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="enter bottom but wait 3s"> Foo tito </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="enter bottom but wait 3s"> Foo tito </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="enter bottom but wait 3s"> Foo tito </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="enter bottom but wait 3s"> Foo tito </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div class="col-md-9 col-md-push-3" data-scroll-reveal="after 2s, ease-in 32px and reset over .66s"> Foo </div>
		<div data-scroll-reveal="enter left and move 50px over 1.33s"> Foo </div>
		<div data-scroll-reveal="enter from the bottom after 1s"> Bar </div>
		<div data-scroll-reveal="wait 2.5s and then ease-in-out 100px"> Baz </div><div data-scroll-reveal="enter left and move 50px over 1.33s"> Foo </div>
		<div data-scroll-reveal="enter from the bottom after 1s"> Bar </div>
		<div data-scroll-reveal="wait 2.5s and then ease-in-out 100px"> Baz </div><div data-scroll-reveal="enter left and move 50px over 1.33s"> Foo </div>
		<div data-scroll-reveal="enter from the bottom after 1s"> Bar </div>
		<div data-scroll-reveal="wait 2.5s and then ease-in-out 100px"> Baz </div><div data-scroll-reveal="enter left and move 50px over 1.33s"> Foo </div>
		<div data-scroll-reveal="enter from the bottom after 1s"> Bar </div>
		<div data-scroll-reveal="wait 2.5s and then ease-in-out 100px"> Baz </div><div data-scroll-reveal="enter left and move 50px over 1.33s"> Foo </div>
		<div data-scroll-reveal="enter from the bottom after 1s"> Bar </div>
		<div data-scroll-reveal="wait 2.5s and then ease-in-out 100px"> Baz </div><div data-scroll-reveal="enter left and move 50px over 1.33s"> Foo </div>
		<div data-scroll-reveal="enter from the bottom after 1s"> Bar </div>
		<div data-scroll-reveal="wait 2.5s and then ease-in-out 100px"> Baz </div><div data-scroll-reveal="enter left and move 50px over 1.33s"> Foo </div>
		<div data-scroll-reveal="enter from the bottom after 1s"> Bar </div>
		<div data-scroll-reveal="wait 2.5s and then ease-in-out 100px"> Baz </div><div data-scroll-reveal="enter left and move 50px over 1.33s"> Foo </div>
		<div data-scroll-reveal="enter from the bottom after 1s"> Bar </div>
		<div data-scroll-reveal="wait 2.5s and then ease-in-out 100px"> Baz </div><div data-scroll-reveal="enter left and move 50px over 1.33s"> Foo </div>
		<div data-scroll-reveal="enter from the bottom after 1s"> Bar </div>
		<div data-scroll-reveal="wait 2.5s and then ease-in-out 100px"> Baz </div><div data-scroll-reveal="enter left and move 50px over 1.33s"> Foo </div>
		<div data-scroll-reveal="enter from the bottom after 1s"> Bar </div>
		<div data-scroll-reveal="wait 2.5s and then ease-in-out 100px"> Baz </div><div data-scroll-reveal="enter left and move 50px over 1.33s"> Foo </div>
		<div data-scroll-reveal="enter from the bottom after 1s"> Bar </div>
		<div data-scroll-reveal="wait 2.5s and then ease-in-out 100px"> Baz </div><div data-scroll-reveal="enter left and move 50px over 1.33s"> Foo </div>
		<div data-scroll-reveal="enter from the bottom after 1s"> Bar </div>
		<div data-scroll-reveal="wait 2.5s and then ease-in-out 100px"> Baz </div><div data-scroll-reveal="enter left and move 50px over 1.33s"> Foo </div>
		<div data-scroll-reveal="enter from the bottom after 1s"> Bar </div>
		<div data-scroll-reveal="wait 2.5s and then ease-in-out 100px"> Baz </div>
	</div>
</section>
{% endblock %}