/* line 1, ../src/home/main.sass */
html, body {
  background-color: #222222;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

/* line 6, ../src/home/main.sass */
footer {
  background-color: #5a9aa7;
  padding: 10%;
}

/* line 10, ../src/home/main.sass */
#home {
  margin-top: 10%;
}
/* line 12, ../src/home/main.sass */
#home img {
  width: 100%;
}
/* line 14, ../src/home/main.sass */
#home p {
  color: #9b9b9b;
  padding: 5% 2%;
  text-align: center;
}
/* line 18, ../src/home/main.sass */
#home .window {
  margin-bottom: -35px;
}

/* line 21, ../src/home/main.sass */
.nav-dark {
  background-color: #19654A;
  border: none;
}
/* line 24, ../src/home/main.sass */
.nav-dark .container {
  width: 90%;
}
/* line 26, ../src/home/main.sass */
.nav-dark .container .navbar-header {
  width: 10%;
}
/* line 28, ../src/home/main.sass */
.nav-dark .navbar-brand {
  color: white;
}
