/* line 1, ../src/home/main.sass */
html, body {
  background-color: #222222;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

/* line 6, ../src/home/main.sass */
footer {
  background-color: #5a9aa7;
  padding: 10% 5% 5% 5%;
}
/* line 9, ../src/home/main.sass */
footer .social {
  float: right;
}
/* line 11, ../src/home/main.sass */
footer .social img {
  cursor: pointer;
  float: right;
  margin: 0 1.5%;
  width: 25px;
}
@media screen and (max-width: 800px) {
  /* line 6, ../src/home/main.sass */
  footer {
    padding: 20% 5% 5% 5%;
  }
}

/* line 19, ../src/home/main.sass */
#home {
  margin-top: 10%;
}
/* line 21, ../src/home/main.sass */
#home img {
  width: 100%;
}
/* line 23, ../src/home/main.sass */
#home p {
  color: #9b9b9b;
  padding: 5% 2%;
  text-align: center;
}
/* line 27, ../src/home/main.sass */
#home .window {
  margin-bottom: -45px;
}
@media screen and (max-width: 800px) {
  /* line 19, ../src/home/main.sass */
  #home {
    margin-top: 20%;
  }
}

/* line 33, ../src/home/main.sass */
.nav-dark {
  background-color: #19654A;
  border: none;
}
/* line 36, ../src/home/main.sass */
.nav-dark .container {
  width: 90%;
}
/* line 38, ../src/home/main.sass */
.nav-dark .container .navbar-header {
  width: 10%;
}
/* line 40, ../src/home/main.sass */
.nav-dark .navbar-brand {
  color: white;
}
/* line 42, ../src/home/main.sass */
.nav-dark .hire {
  background-color: #348899;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: white;
  float: right;
  margin-top: 1rem;
  padding: 5px 10px;
  text-decoration: none;
}

/* line 54, ../src/home/main.sass */
.navbar-default .navbar-nav > li > a {
  color: white;
}
/* line 56, ../src/home/main.sass */
.navbar-default .navbar-nav > a {
  background-color: #19654A;
  color: white;
}
/* line 59, ../src/home/main.sass */
.navbar-default .navbar-nav > .active > a {
  background-color: #187C75;
  color: white;
}
/* line 62, ../src/home/main.sass */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #187C75;
  color: #555;
}
