{% extends "layout.html" %}
{% load static from staticfiles %}
{% block page %}Contact{% endblock %}
{% block content %}
<form action="{% url "contact" %}" method="post" >
	<section id="contact" class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-3">
				<h2>Contact</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3" id="flush">
				<h2>Send us message</h2>
				<div>
					<form action="#" method="post">
						<div class="form-group">
					    <label for="exampleInputEmail1">Name</label>
					    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="Enter your name">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Email address</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Phone number</label>
					    <input type="phone" class="form-control" id="exampleInputPassword1" placeholder="Phone number">
					  </div>
						<div class="form-group">
					    <label for="exampleInputPassword1">Any comment</label>
							<textarea class="form-control" rows="3" placeholder="Enter any comment is optional"></textarea>
						</div>

					  <button type="submit" class="btn btn-success" disabled="disabled">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</section>
</form>
{% endblock %}
