<header>
	<nav class="navbar navbar-default navbar-fixed-top nav-dark">
		<div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-7">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Tito</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
	      <ul class="nav navbar-nav">
					<li class="active"><a href="/about">About</a></li>
					<li class="active"><a href="/work">Work</a></li>
	      </ul>
				<a class="hire" href="/contact">Hire me</a>
	    </div><!-- /.navbar-collapse -->
	  </div>
	</nav>
</header>
