{% spaceless %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static "css/main.css" %}">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body id="page-{% block page %}home{% endblock %}" class="{% block classes %}{% endblock %}">

	{% block header %}{% include "header.html" %}{% endblock %}

	<div id="pg-body" role="main">
		{% block content %}{% endblock %}
	</div>

	{% block footer %}{% include "footer.html" %}{% endblock %}



{% block scripts %}
{% if debug %}
	<script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
	<script src="{% static "bower_components/boostrap-sass/assets/javascripts/boostrap.min.js" %}"></script>
	<script src="{% static "bower_components/scrollReveal.js/dist/scrollReveal.min.js" %}"></script>
	<script>
		window.scrollReveal = new scrollReveal();
  	</script>
{% else %}
	<script src="{% static "js/app.min.js" %}"></script>
	<script type="text/javascript">
		window.sr = new scrollReveal();
	</script>
{% endif %}
{% endblock %}
{% endspaceless %}
{% comment %}
</body>
</html>
{% endcomment %}
