/* line 1, ../src/about/main.sass */
#about {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
/* line 5, ../src/about/main.sass */
#about #social h2 {
  color: white;
}
/* line 7, ../src/about/main.sass */
#about #social span {
  color: #9b9b9b;
}
/* line 9, ../src/about/main.sass */
#about .title-head-skill {
  margin-bottom: 2rem;
}
/* line 11, ../src/about/main.sass */
#about .title-skill {
  color: white;
}
/* line 13, ../src/about/main.sass */
#about .subtitle-skill {
  color: #9b9b9b;
}
