{% extends "layout.html" %}
{% load static from staticfiles %}
{% block page %}Work{% endblock %}
{% block content %}
<section id="work" class="main-content container">
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<h2>My work</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
      <div class="item user">
          <div class="circle">
          	<h2>Inhello</h2>
          </div>
      </div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-5">
					<img src="{% static "img/inhello.png" %}">
				</div>
				<div class="col-xs-12 col-sm-12 col-md-7">
					<p>RTC aplication for video calls under construction with Emberjs.</p>
					<button type="button" class="btn btn-info">Lear more</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">

		</div>
	</div>
</section>


{% endblock %}
